if type -q nvim;
    set -gx EDITOR nvim
end
{{- if eq .chezmoi.os "darwin" }}
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/opt/libpq/bin
fish_add_path /opt/homebrew/opt/openssl@1.1/bin
source /opt/homebrew/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.fish.inc
set -gx ANDROID_HOME ~/Library/Android/sdk
set -gx JAVA_HOME /Library/Java/JavaVirtualMachines/zulu-8.jdk/Contents/Home
{{- else if eq .chezmoi.os "linux" }}
fish_add_path /snap/bin
fish_add_path ~/.local/share/umake/bin
fish_add_path ~/.local/bin
set -gx MOZ_USE_XINPUT2 1
set -gx ANDROID_HOME ~/Android/Sdk
set -gx TMPDIR /tmp
set -gx JAVA_HOME /usr/lib/jvm/java-8-openjdk-amd64/jre
{{- end }}
fish_add_path $ANDROID_HOME/emulator
fish_add_path $ANDROID_HOME/tools
fish_add_path $ANDROID_HOME/tools/bin
fish_add_path $ANDROID_HOME/platform-tools
fish_add_path ~/.pub-cache/bin
fish_add_path ~/bin
fish_add_path ~/.cargo/bin
fish_add_path ~/go/bin
fish_add_path ~/.npm_modules/bin
fish_add_path ~/.config/composer/vendor/bin
fish_add_path ~/.emacs.d/bin
fish_add_path ~/.krew/bin
fish_add_path ~/.poetry/bin
fish_add_path ~/.pub-cache/bin


if status --is-interactive

    test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish
    set fish_greeting

    {{- if eq .chezmoi.os "darwin" }}
    alias clip=pbcopy
    {{- else if eq .chezmoi.os "linux" }}
    alias clip='xsel --clipboard --input'
    {{- end }}

    set -U fish_color_normal normal
    set -U fish_color_command 81a1c1
    set -U fish_color_quote a3be8c
    set -U fish_color_redirection b48ead
    set -U fish_color_end 88c0d0
    set -U fish_color_error ebcb8b
    set -U fish_color_param eceff4
    set -U fish_color_selection white --bold --background=brblack
    set -U fish_color_search_match bryellow --background=brblack
    set -U fish_color_history_current --bold
    set -U fish_color_operator 00a6b2
    set -U fish_color_escape 00a6b2
    set -U fish_color_cwd green
    set -U fish_color_cwd_root red
    set -U fish_color_valid_path --underline
    set -U fish_color_autosuggestion 4c566a
    set -U fish_color_user brgreen
    set -U fish_color_host normal
    set -U fish_color_cancel -r
    set -U fish_pager_color_completion normal
    set -U fish_pager_color_description B3A06D yellow
    set -U fish_pager_color_prefix white --bold --underline
    set -U fish_pager_color_progress brwhite --background=cyan

    if type -q starship;
        starship init fish | source
    end
end
