# Set default editor
set -gx EDITOR nvim
{{- if eq .chezmoi.os "darwin" }}
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/opt/libpq/bin
fish_add_path /opt/homebrew/opt/openssl@1.1/bin
fish_add_path /Users/vidur/.pgo/postgres
source ~/google-cloud-sdk/path.fish.inc
set -gx ANDROID_HOME ~/Library/Android/sdk
set -gx JAVA_HOME /opt/homebrew/Caskroom/android-studio-preview-beta/2020.3.1.21/Android Studio Preview.app/Contents/jre/Contents/Home
set -gx PGOUSER /Users/vidur/.pgo/postgres/pgouser
set -gx PGO_CA_CERT /Users/vidur/.pgo/postgres/client.crt
set -gx PGO_CLIENT_CERT /Users/vidur/.pgo/postgres/client.crt
set -gx PGO_CLIENT_KEY /Users/vidur/.pgo/postgres/client.key
{{- else if eq .chezmoi.os "linux" }}
fish_add_path /snap/bin
fish_add_path ~/.local/share/umake/bin
fish_add_path ~/.local/bin
set -gx MOZ_USE_XINPUT2 1
set -gx ANDROID_HOME ~/Android/Sdk
set -gx TMPDIR /tmp
{{- end }}
fish_add_path $ANDROID_HOME/emulator
fish_add_path $ANDROID_HOME/tools
fish_add_path $ANDROID_HOME/tools/bin
fish_add_path $ANDROID_HOME/platform-tools
fish_add_path ~/.pub-cache/bin
fish_add_path ~/bin
fish_add_path ~/.cargo/bin
fish_add_path ~/go/bin
fish_add_path ~/.npm_modules/bin
fish_add_path ~/.config/composer/vendor/bin
fish_add_path ~/.emacs.d/bin
fish_add_path ~/.krew/bin
fish_add_path ~/.poetry/bin


# Quality-of-Life improvements for interactive shells
if status --is-interactive
    abbr --add --global a-g ansible-galaxy
    abbr --add --global a-v ansible-vault
    abbr --add --global s-c symfony console
    abbr --add --global s-php symfony php
    abbr --add --global d-c docker-compose
    abbr --add --global s-bc bin/console
    abbr --add --global gfap git fetch --all --prune --prune-tags
    abbr --add --global pr gh pr
    abbr --add --global kube-context kubectl config use-context
    abbr --add --global mela-context gke_maha-mela_asia-south1_mela-cluster
    abbr --add --global namaste-context vidur.butalia@mahamela.in@namaste.ap-south-1.eksctl.io
    abbr --add --global metal-context vidur.butalia@mahamela.in@metal.ap-south-1.eksctl.io

    if type -q "lsd" ;
        alias ls="lsd"
    end

    if type -q "bat";
        alias cat=bat
    end

    if type -q "aws";
        complete --command aws --no-files --arguments '(begin; set --local --export COMP_SHELL fish; set --local --export COMP_LINE (commandline); aws_completer | sed \'s/ $//\'; end)'
    end

    if type -q "code-insiders";
        if not type -q "code";
            alias code=code-insiders
        end
    end

    if type -q "nvim";
        alias vim=nvim
    end

    if type -q "dust";
        alias du=dust
    end

    if type -q "duf";
        alias df=duf
    end

    if type -q "procs";
        alias ps=procs
    end

    # Remove shell greeting
    set fish_greeting

    {{- if eq .chezmoi.os "darwin" }}
    alias clip=pbcopy
    {{- else if eq .chezmoi.os "linux" }}
    alias clip='xsel --clipboard --input'
    {{- end }}

    # Set nord theme
    set -U fish_color_normal normal
    set -U fish_color_command 81a1c1
    set -U fish_color_quote a3be8c
    set -U fish_color_redirection b48ead
    set -U fish_color_end 88c0d0
    set -U fish_color_error ebcb8b
    set -U fish_color_param eceff4
    set -U fish_color_selection white --bold --background=brblack
    set -U fish_color_search_match bryellow --background=brblack
    set -U fish_color_history_current --bold
    set -U fish_color_operator 00a6b2
    set -U fish_color_escape 00a6b2
    set -U fish_color_cwd green
    set -U fish_color_cwd_root red
    set -U fish_color_valid_path --underline
    set -U fish_color_autosuggestion 4c566a
    set -U fish_color_user brgreen
    set -U fish_color_host normal
    set -U fish_color_cancel -r
    set -U fish_pager_color_completion normal
    set -U fish_pager_color_description B3A06D yellow
    set -U fish_pager_color_prefix white --bold --underline
    set -U fish_pager_color_progress brwhite --background=cyan

    # Make shell prompt rocket
    starship init fish | source
end
