if type -q nvim;
    set -gx EDITOR nvim
end
{{- if eq .chezmoi.os "darwin" }}
# homebrew binaries
fish_add_path /opt/homebrew/bin
# homebrew psql
fish_add_path /opt/homebrew/opt/libpq/bin
# homebreq openssl
fish_add_path /opt/homebrew/opt/openssl@1.1/bin
# gcloud sdk
source /opt/homebrew/share/google-cloud-sdk/path.fish.inc
# android studio sdk location
set -gx ANDROID_HOME ~/Library/Android/sdk
# zulu jdk
set -gx JAVA_HOME /Library/Java/JavaVirtualMachines/zulu-8.jdk/Contents/Home
{{- else if eq .chezmoi.os "linux" }}
# snap binaries
fish_add_path /snap/bin
# umake binaries (ubuntu only)
fish_add_path ~/.local/share/umake/bin
# generic binaries
fish_add_path ~/.local/bin
# android studio sdk location
set -gx ANDROID_HOME ~/Android/Sdk
set -gx TMPDIR /tmp
set -gx JAVA_HOME /usr/lib/jvm/java-8-openjdk-amd64/jre
{{- end }}
# android dev tools
fish_add_path $ANDROID_HOME/emulator
fish_add_path $ANDROID_HOME/tools
fish_add_path $ANDROID_HOME/tools/bin
fish_add_path $ANDROID_HOME/platform-tools
# arbitrary binary folder
fish_add_path ~/bin
# rust global packages
fish_add_path ~/.cargo/bin
# go global packages
fish_add_path ~/go/bin
# npm global packages
fish_add_path ~/.npm_modules/bin
# composer global packages
fish_add_path ~/.composer/vendor/bin
# ?
fish_add_path ~/.emacs.d/bin
# kubectl krew cli
fish_add_path ~/.krew/bin
# poetry global packages
fish_add_path ~/.poetry/bin
# dart global packages
fish_add_path ~/.pub-cache/bin
# doom-emacs cli
fish_add_path ~/.config/emacs/bin
# local bin for pipx packages
fish_add_path ~/.local/bin

if status --is-interactive

    test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish
    set fish_greeting

    {{- if eq .chezmoi.os "darwin" }}
    alias clip=pbcopy
    set -gx PNPM_HOME "/Users/vidur/Library/pnpm"
    fish_add_path $PNPM_HOME
    alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
    {{- else if eq .chezmoi.os "linux" }}
    alias clip='xsel --clipboard --input'
    {{- end }}

    # enable tabtab
    [ -f ~/.config/tabtab/fish/__tabtab.fish ]; and . ~/.config/tabtab/fish/__tabtab.fish; or true

    set -U fish_color_normal normal
    set -U fish_color_command 81a1c1
    set -U fish_color_quote a3be8c
    set -U fish_color_redirection b48ead
    set -U fish_color_end 88c0d0
    set -U fish_color_error ebcb8b
    set -U fish_color_param eceff4
    set -U fish_color_selection white --bold --background=brblack
    set -U fish_color_search_match bryellow --background=brblack
    set -U fish_color_history_current --bold
    set -U fish_color_operator 00a6b2
    set -U fish_color_escape 00a6b2
    set -U fish_color_cwd green
    set -U fish_color_cwd_root red
    set -U fish_color_valid_path --underline
    set -U fish_color_autosuggestion 4c566a
    set -U fish_color_user brgreen
    set -U fish_color_host normal
    set -U fish_color_cancel -r
    set -U fish_pager_color_completion normal
    set -U fish_pager_color_description B3A06D yellow
    set -U fish_pager_color_prefix white --bold --underline
    set -U fish_pager_color_progress brwhite --background=cyan

    if type -q starship;
        starship init fish | source
    end

    if type -q zoxide;
        zoxide init fish | source
    end

    enable_transience
end
