[Unit]
Description=Barrier keyboard & mouse sharing software
After=network.target

[Service]
PassEnvironment=DISPLAY
ExecStart=/usr/bin/barriers -f --no-tray --no-daemon --no-restart --debug INFO --name vidur-desktop --enable-crypto -c /tmp/Barrier.kcXdIu --address :24800
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
