{{ if eq .chezmoi.os "linux" }}
[Unit]
Description=Local Craft CMS Server (blog)
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/symfony local:server:start -d --dir=/home/vidur/src/vidur.dev/backend
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/local/bin/symfony local:server:stop --dir=/home/vidur/src/vidur.dev/backend
StandardOutput=journal

[Install]
WantedBy=default.target
{{ end }}