[user]
        name = Vidur Butalia
	email = vidur.butalia@getastra.com
	signingKey = ""
[core]
        editor = vim
        pager = diff-so-fancy | less --tabs=4 -RFX
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
