{{- $email := promptString "Enter the email to use for this deployment" -}}
{{- $bootstrap := promptBool "Bootstrap this deployment with scripts?" -}}
{{- $gui := promptBool "Install GUI apps?" -}}
{{- $keys := promptBool "Update ~/.ssh/authorized_keys?" -}}
{{- $encrypted := promptBool "Install SSH config and other encrypted configs?" -}}
{{- $utils := promptBool "Install utils?" -}}
{{- $terminal := promptBool "Is this deployment on a user terminal?" -}}

[data]
    email = "{{ $email }}"
    bootstrap = "{{ $bootstrap }}"
    terminal = "{{ $terminal }}"
    gui = "{{ $gui }}"
    keys = "{{ $keys }}"
    encrypted = "{{ $encrypted }}"
    utils = "{{ $utils }}"
[gpg]
    recipient = "{{ $email }}"
