{{- $email := promptString "Enter the email to use for this deployment" -}}
{{- $bootstrap := promptBool "Bootstrap this deployment with scripts" -}}
{{- $gui := promptBool "Install GUI apps" -}}
{{- $keys := promptBool "Update ~/.ssh/authorized_keys" -}}
{{- $encrypted := promptBool "Install SSH config and other encrypted configs" -}}
{{- $utils := promptBool "Install utils" -}}
{{- $terminal := promptBool "Is this deployment on a user terminal" -}}

[data]
    email = "{{ $email }}"
    bootstrap = "{{ $bootstrap }}"
    terminal = "{{ $terminal }}"
    gui = "{{ $gui }}"
    keys = "{{ $keys }}"
    encrypted = "{{ $encrypted }}"
    utils = "{{ $utils }}"

encryption = "age"

[age]
    identity = "/home/vidur/agekey.txt"
    receipient = "age1lka0p4tzww6vcq387k50u3ps0we8jdj7ht5srfn4p7n2n9vxrprqhh6zxs"

