[user]
    name = Vidur Butalia
    email = vidurbutalia@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJU97RohQALfbzhqvOU/rmwIf58dkfWULQL4jDnwOguw
    github = vidurb
    gitlab = vidurb
[core]
    editor = nvim
    autocrlf = input
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[diff]
    colorMoved = default
[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Nord
    navigate = true
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

[gpg]
    format = ssh
[commit]
    gpgSign = true
[tag]
    forceSignAnnotated = false
[url "git@github.com"]
    insteadOf = gh
    pushInsteadOf = https://github.com/
    pushInsteadOf = git://github.com/
[pull]
    rebase = true
[gpg "ssh"]
    allowedSignersFile = /Users/vidur/.ssh/allowed_signers
{{ if eq .chezmoi.os "linux" }}
    program = /opt/1Password/op-ssh-sign
{{ else if eq .chezmoi.os "darwin" }}
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end -}}
