set nu
set autoindent    " useful when writing code to maintain indenting
                  "  goes back one indent while still in insert mode

set smartindent   " starts indenting based on language of code 
set ignorecase    " causes searches to be case insensitive
set smartcase     " case sensitive search when item has an upper case letter
set incsearch     " starts search as you type the search pattern
set nohlsearch    " future matches aren't highlighted

set backspace=indent,eol,start  " backspace key acts like standard text editor 

set showmatch     " matches { [ and ( as your type

set shiftround    " maintains indent when tabs and spaces are mixed
   
set noerrorbells  " errors won't make noise
set visualbell    " screen flashes moving beyond begin/end and unmatched close

" Show the mode
set showmode      " reports when inserting, otherwise, you are in command mode
set report=0      " reports changes involving more than 0 lines
set ruler	  " reports line and column number
" Show syntax
syntax on         " colors keywords in language

" Tab completion works properly (UNIX Style) and shows menu of possible options.
set wildmenu
set wildmode=longest,list,full
set wildignore=*.o,*.bak,*.data,*.class

{{ if eq .chezmoi.os "linux" }}
" Clipboard
set clipboard=unnamedplus
{{ end }}

set shiftwidth=4
set softtabstop=4
set expandtab

" Get colors right in TUI
if exists('+termguicolors')
  let &t_8f="\<Esc>[38;2;%lu;%lu;%lum"
  let &t_8b="\<Esc>[48;2;%lu;%lu;%lum"
  set termguicolors
endif

" Stop highlighting being deleted on bufleave
let g:colorizer_disable_bufleave = 1
let g:colorizer_use_virtual_text = 1
{{ if eq .chezmoi.os "linux" }}
let g:suda#prefix = 'sudo://'
{{ end }}

" Set colors
set t_Co=256
