# remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

set -g base-index 1
setw -g pane-base-index 1

set -g history-limit 20000
set -g buffer-limit 20
set -sg escape-time 0
setw -g aggressive-resize on

set -g status on
set -g status-interval 5
set -g status-position top
set -g status-justify left
set -g status-right-length 100
set -g status-right ""


{{ if eq .chezmoi.os "darwin" }}
set -g default-shell /opt/homebrew/bin/fish
{{ else if eq .chezmoi.os "linux" }}
set -g default-shell /usr/bin/fish
set -g default-terminal "screen-256color"
{{ end }}

set-option -g mouse on

# Key bindings
unbind &    # kill-window
bind x kill-pane # kill-pane
bind X kill-window # kill-window
unbind %    # split-window -h
unbind '"'  # split-window
bind C-x confirm-before -p "kill other windows? (y/n)" "kill-window -a" # kill other windows
bind Q confirm-before -p "kill-session #S? (y/n)" kill-session # exit

# Linux & mac specific keyboard handling
{{ if eq .chezmoi.os "darwin" }}
bind-key    -T copy-mode    C-w               send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key    -T copy-mode    MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key    -T copy-mode    M-w               send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key    -T copy-mode-vi C-j               send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key    -T copy-mode-vi Enter             send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key    -T copy-mode-vi y                 send-keys -X copy-pipe-and-cancel "pbcopy"
bind-key    -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "pbcopy"
{{ else if eq .chezmoi.os "linux" }}
bind-key    -T copy-mode    C-w               send-keys -X copy-pipe-and-cancel "xsel -i -b"
bind-key    -T copy-mode    MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xsel -i -b"
bind-key    -T copy-mode    M-w               send-keys -X copy-pipe-and-cancel "xsel -i -b"
bind-key    -T copy-mode-vi C-j               send-keys -X copy-pipe-and-cancel "xsel -i -b"
bind-key    -T copy-mode-vi Enter             send-keys -X copy-pipe-and-cancel "xsel -i -b"
bind-key    -T copy-mode-vi y                 send-keys -X copy-pipe-and-cancel "xsel -i -b"
bind-key    -T copy-mode-vi MouseDragEnd1Pane send-keys -X copy-pipe-and-cancel "xsel -i -b"
{{ end }}


# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'arcticicestudio/nord-tmux'
set -g @plugin 'tmux-plugins/tmux-online-status'
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'
set -g @plugin 'tmux-plugins/tmux-sessionist'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'soyuka/tmux-current-pane-hostname'
set -g @plugin 'nhdaly/tmux-better-mouse-mode'
#set -g @plugin 'Morantron/tmux-fingers'
set -g @plugin 'fcsonline/tmux-thumbs'

set -g @thumbs-key F

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run -b '~/.tmux/plugins/tpm/tpm'
