{{ if eq .chezmoi.os "windows" }}
    {{ if eq .data.bootstrap "yes" }}
        {{ if eq .data.terminal "yes" }}
            Write-Outout "This script is yet to be finished - run_once_winget_full.ps1.tmpl"
        {{ end }}
    {{ end }}
{{ end }}