{{- if eq .chezmoi.os "linux" -}}
{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian") -}}
#!/bin/sh
{{ if eq .bootstrap "true" }}
echo -e "\e[4mThis utility installs the following software:\e[0m\e[32m
- fish (including fisher)
- tmux (including tpm)
- git
- curl
- wget
- gawk
- jq
- unzip
- neovim (including vim-plug)
\e[0m"
echo "Please enter your password when queried."
sudo apt install --yes fish neovim tmux git curl wget gawk jq unzip
echo "Installing add-on scripts and utilities"
curl https://git.io/fisher --create-dirs -sLo ~/.config/fish/functions/fisher.fish
curl -fLo ~/.local/share/nvim/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
git clone --depth 1 https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
echo -e "\e[32mInstalled fish, tmux, git, curl, wget, gawk, jq, unzip and neovim\e[0m"
{{ else }}
echo -e "\e[1m\e[33mNot installing base software as .bootstrap is not set to yes\e[0m" 
{{- end -}}
{{- end -}}
{{- end -}}
