{{ if eq .chezmoi.os "linux" }}{{ if eq .chezmoi.osRelease.idLike "debian" }}{{ if eq .bootstrap "yes" }}#!/bin/sh{{ if eq .terminal "yes" }}
echo "Installing software for user terminals - emacs, kitty, zeal, vlc, powertop, nodejs, npm, composer, docker.io, docker-compose, neovim"
sudo apt install --yes emacs git kitty zeal vlc powertop nodejs npm composer docker.io docker-compose ansible neovim
curl -o ~/.config/kitty/nord.conf https://raw.githubusercontent.com/connorholyday/nord-kitty/master/nord.conf                
{{ else }}
echo "\e[1mNot installing packages as .terminal is not set to yes."
{{ end }}
{{ end }}
{{ end }}
{{ end }}
