{{ if eq .chezmoi.os "linux" }}
    {{ if eq .chezmoi.osRelease.idLike "debian" }}
        {{ if eq .data.bootstrap "yes" }}
                #!/bin/sh
                echo "This script will eventually install starship, bat, lsd, and fx by downloading their binaries"
                echo "\e[1mThis script is yet to be finished - run_once_binary_utils.sh.tmpl"
            {{ if eq .data.terminal "yes" }}
                #!/bin/sh
                echo "\e[1mThis script is yet to be finished - run_once_binary_utils.sh.tmpl"
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}