Compression yes
VerifyHostKeyDNS yes

{{- if .onepassword }}
Host *
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
Host workgit
    HostName github.com
    User git
    IdentityFile ~/.ssh/atlantis_health.pub
    IdentitiesOnly yes
Host github.com
    IdentityFile ~/.ssh/id_ed25519.pub
    IdentitiesOnly yes
{{- end }}
