[Unit]
Description=Symfony CLI Proxy

[Service]
ExecStart=/usr/local/bin/symfony proxy:start
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
