{{ define "macfont" }}PragmataPro Mono{{ end }}
{{ define "linuxfont" }}Pragmata Pro Mono{{ end }}
window:
  padding:
    x: 0
    y: 0
{{ if eq .chezmoi.os "darwin" }}
  decorations: buttonless
{{ else }}
  decorations: none
{{ end }}
  startup_mode: Windowed
font:
{{ if eq .chezmoi.os "darwin" }}
  normal:
    family: {{ template "macfont" }}
    style: Regular
  bold:
    family: {{ template "macfont" }}
    style: Bold
  italic:
    family: {{ template "macfont" }}
    style: Italic
  bold_italic:
    family: {{ template "macfont" }}
    style: Bold Italic
  size: 12.0
{{ else if eq .chezmoi.os "linux" }}
  normal:
    family: {{ template "linxfont" }}
    style: Regular
  bold:
    family: {{ template "linxfont" }}
    style: Bold
  italic:
    family: {{ template "linxfont" }}
    style: Italic
  bold_italic:
    family: {{ template "linxfont" }}
    style: Bold Italic
  size: 12.0
{{ end }}
colors:
  primary:
    background: '#2e3440'
    foreground: '#d8dee9'
    dim_foreground: '#a5abb6'
  cursor:
    text: '#2e3440'
    cursor: '#d8dee9'
  vi_mode_cursor:
    text: '#2e3440'
    cursor: '#d8dee9'
  selection:
    text: CellForeground
    background: '#4c566a'
  search:
    matches:
      foreground: CellBackground
      background: '#88c0d0'
    bar:
      background: '#434c5e'
      foreground: '#d8dee9'
  normal:
    black: '#3b4252'
    red: '#bf616a'
    green: '#a3be8c'
    yellow: '#ebcb8b'
    blue: '#81a1c1'
    magenta: '#b48ead'
    cyan: '#88c0d0'
    white: '#e5e9f0'
  bright:
    black: '#4c566a'
    red: '#bf616a'
    green: '#a3be8c'
    yellow: '#ebcb8b'
    blue: '#81a1c1'
    magenta: '#b48ead'
    cyan: '#8fbcbb'
    white: '#eceff4'
  dim:
    black: '#373e4d'
    red: '#94545d'
    green: '#809575'
    yellow: '#b29e75'
    blue: '#68809a'
    magenta: '#8c738c'
    cyan: '#6d96a5'
    white: '#aeb3bb'
